*{
    margin: 0;
    box-sizing: border-box;
}
.head #logo{
    font-family: "Castellar", Arial, sans-serif;
    color: orange;
    margin: 0 0 0 10px;
    padding: 10px;
}
.head nav ul{
    list-style: none;
    margin: -73px 0 0 540px;
}
.head nav ul li{
    float: left;
    padding: 30px;
}
.head nav ul li a{
    text-decoration: none;
    font-family: "Bahnschrift SemiBold", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.head nav ul li #register{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(rgb(255, 208, 0),rgba(255, 0, 162, 0.962));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.head nav ul li #login{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(rgb(255, 208, 0),rgba(255, 0, 162, 0.962));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.body{
    margin: 100px 0 0 140px;
}
.body .image{
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    width: 250px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.body .image:hover{
    box-sizing: border-box;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.441);
    width: 255px;
}
.body .image img{
    border-radius: 10px;
    margin: 10px 0 0 13px ;
    width: 90%;
    cursor: pointer;
}
.body .image p{
    margin: 10px 0;
    font-family: "Bookman Old Style", Arial, Verdana, Tahoma;
    text-align: center;
}
.body .image .cost{
    font-weight: bold;
}
.body .image .add{
    background-color: rgb(56, 161, 56);
    color: white;
    font-family: "Arial Rounded MT", Arial, Verdana, Tahoma;
    border: 1px solid rgb(56, 161, 56);
    border-radius: 5px;
    padding: 5px;
    width: 140px;
    text-align: center;
    margin: 0 0 10px 55px;
    cursor: pointer;
}
.body .image .add:hover{
    background-color: rgb(237, 66, 66);
}
#overlay{
  position: fixed;
  margin-top: -90px;
  display: none;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.5);
}

#img img{
    margin: 190px 350px;
    width: 50%;
    height: 50%;
}
#img h1{
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    margin: -750px 1350px;
    color: white;
    font-family: "Arial Rounded MT", Arial, Verdana, Tahoma;
    font-size: 20px;
    cursor: pointer;
}
.img h1:hover{
    background-color: white;
    color: black;
}
